* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-image: linear-gradient(rgba(31, 18, 6, 0.833), rgba(31, 18, 6, 0.675)), url("images/cinema-film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #08032796;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.none {
  display: none;
}

.shadow {
  box-shadow: 2px 4px 5px 0 rgba(51, 49, 49, 0.16), 2px 4px 10px 0 rgba(80, 82, 95, 0.12);
}

.main-con,
.container {
  padding: 0.8em;
}

.introContainer {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 70vw;
}

.container {
  padding: 1em 1em 2em 1em;
  animation-name: delay;
  animation-duration: 1s;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 1em auto;
}

.introContainer,
.container {
  padding: 1em;
  background-color: rgba(68, 67, 60, 0.759);
}

.borderR {
  border-radius: 8px;
}

a {
  text-decoration: none;
  background: linear-gradient(to bottom, rgb(120, 119, 128) 0%, rgb(59, 58, 68) 0%, rgb(130, 135, 161) 0%, rgb(65, 62, 66) 49%, rgb(62, 59, 63) 50%, rgb(140, 140, 156) 100%);
  opacity: 0.8;
}

h1,
h3 {
  font-weight: 500;
  border-radius: 20px;
  width: 150px;
  padding: 0.5em;
  color: whitesmoke;
}

.header h3 {
  border: none;
  font-size: 1.5em;
  background-color: rgba(40, 41, 28, 0.164);
}

.introContainer h1,
.introContainer h3 {
  width: auto;
}

/* styling questions and answer options */
.question {
  background-color: rgba(24, 23, 21, 0.755);
  color: white;
  border: 2px inset rgb(171, 169, 175);
  padding: 1em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: 500;
}

.question,
label {
  animation-name: delay;
  animation-duration: 1.5s;
}

input,
button,
input[type="button"],
label,
a {
  background-color: #201f24c4;
  color: white;
  box-shadow: 0 6px 6px 0 #322f42, 0 6px 80px 0 #8f9dbba6;
  border: none;
  border-radius: 7px;
  margin-top: 1em;
}

button,
input[type="button"],
a {
  padding: 1em 1.2em;
  background-color: rgba(28, 27, 31, 0.89);
  font-size: 1.4em;
}

label {
  display: block;
  width: 200px;
  padding: 0.6em 0.7em;
  margin-bottom: 0.5em;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + div,
button,
input[type="button"],
a {
  cursor: pointer;
}

label > input + div {
  font-size: 1.2em;
  padding: 0.3em 0;
}

/* style question div if checked */
label > input:checked + div {
  background-color: #5a5f689c;
  box-shadow: 0 0 2px white;
  outline: 1px inset rgba(255, 255, 255, 0.658);
}

.introContainer input {
  width: 100px;
}

.introContainer a {
  font-size: 1.1em;
  padding: 1em;
}

.correct {
  background-color: rgba(4, 88, 4, 0.897);
}

.correctBorder {
  outline: 5px solid rgb(5, 148, 5);
}

.incorrect {
  background-color: rgba(207, 3, 3, 0.863);
}

button:focus,
input[type="button"]:focus,
a:focus {
  outline: 0;
}

@keyframes delay {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .container {
    width: 600px;
    margin: 0.5em auto 1em auto;
    max-height: 850px;
    padding: 1em;
  }

  .header {
    width: 750px;
  }

  .header h3 {
    font-size: 2em;
  }

  .question {
    font-size: 1.5em;
  }

  label {
    width: 300px;
    font-size: 1.1em;
  }

  input:hover,
  button:hover,
  input[type="button"]:hover,
  label:hover,
  a:hover {
    background-color: rgba(122, 120, 120, 0.726);
    transform: scale(1.1);
    transition: 0.5s;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    margin-top: 2em;
  }
}
